/*Hide browser's scroll bar*/
html, body {margin: 0; height: 100%; overflow: hidden}

/*Background image properties*/
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

/*Display the score box*/
.score_box{
    border: solid black 5px;
    padding: 10px;
    width: 2vw;
    margin: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    background: yellow;
    color: red;
    z-index: 100000;
}