/*Hide browser's scroll bar*/
html, body {margin: 0; height: 100%; overflow: hidden}

/*Background image properties*/
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: aquamarine;
    background-size: cover;
}

/*Display the score box*/
.score_box{
    border: solid black 5px;
    padding: 10px;
    width: 15vw;
    margin: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    background: yellow;
    color: red;
    z-index: 100000;
}
/*Game over box*/
.gameover{
    border: solid black 5px;
    padding: 10px;
    width: 30vw;
    height: 30vw;
    font-size: large;
    background: yellow;
    color: red;
    z-index: 100000;
    text-align: center;      
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}


@keyframes pulse {
   
    0%{}
    50%{transform: scale(0.7)}
    100%{}
    
}
