.normal_button{
    background: orange;
}

.input_bar{
    border-radius: 30px;
    background: goldenrod;
    width : 30vw;
}

/*Hide browser's scroll bar*/
html, body {margin: 0; height: 100%; overflow: hidden}
